# General info
TZ=Asia/Bangkok

# Docker images
MOSQUITTO_IMAGE=eclipse-mosquitto:2
NODERED_IMAGE=esp32-project-level3-nodered:latest
NODERED_MAX_OLD_SPACE_MB=256
INFLUXDB_IMAGE=influxdb:2
GRAFANA_IMAGE=grafana/grafana:latest

# InfluxDB v2 container paths
INFLUXDB_DATA_PATH=/var/lib/influxdb2
INFLUXDB_CONFIG_PATH=/etc/influxdb2

# Grafana login
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=password
